<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/mainPage.css">
</head>
<body>

    <header class="header-buttons">
        <form action="/add-movie" method="GET">
            <button type="submit">Добавить фильм</button>
        </form>

        <form action="/profile" method="GET">
            <button type="submit">Профиль</button>
        </form>
        
        <form action="/logout" method="POST">
            <button type="submit">Выйти</button>
        </form>

    </header>
    
    <h1>Фильмы</h1>
    <div class="movie-container">
        {{range .}}
           <a href="/movie/{{.ID}}">

                <div class="movie-card">
                    <img src="{{.PosterURL}}" alt="Постер"><br>
                    <h2>{{.Title}} ({{.ReleaseYear}})</h2>
                    <p><strong>Жанр:</strong> {{.Genre}}</p>
                    <p>{{.Description}}</p>
                    <form action="/delete-movie" method="POST" class="delete-movie">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button type="submit">Удалить</button>
                    </form>
                </div>
            </a>
        {{else}}
            <p>Фильмы не найдены.</p>
        {{end}}
    </div>

</body>
</html>
