<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/mainPage.css">
</head>
<body>

    <header class="header-buttons">

        {{if ge .RoleID 2}}
        <form action="/add-movie" method="GET">
            <button type="submit">Добавить фильм</button>
        </form>
        {{end}}

        {{if ge .RoleID 3}}
        <form action="/admin/roles" method="GET">
            <button type="submit">Пользователи</button>
        </form>
        {{end}}

        <form action="/profile" method="GET">
            <button type="submit">Профиль</button>
        </form>

        <form action="/favorites" method="GET">
            <button type="submit">Любимые фильмы</button>
        </form>

        <form action="/logout" method="POST">
            <button type="submit">Выйти</button>
        </form>
    </header>

    <h1>Фильмы</h1>
    <form method="GET" action="/main">
    <input type="text" name="search" value="{{.Search}}" placeholder="Поиск">
    <select name="genre">
        <option value="">Все жанры</option>
        <option value="драма" {{if eq .Genre "драма"}}selected{{end}}>Драма</option>
        <option value="комедия" {{if eq .Genre "комедия"}}selected{{end}}>Комедия</option>
        <option value="боевик" {{if eq .Genre "боевик"}}selected{{end}}>Боевик</option>
        <option value="триллер" {{if eq .Genre "триллер"}}selected{{end}}>Триллер</option>
        <option value="ужасы" {{if eq .Genre "ужасы"}}selected{{end}}>Ужасы</option>
    </select>
    <button type="submit">Найти</button>
</form>

    <div class="movie-container">
        {{range .Movies}}
        <a href="/movie/{{.ID}}">
            <div class="movie-card">
                <img src="{{.PosterURL}}" alt="Постер"><br>
                <h2>{{.Title}} ({{.ReleaseYear}})</h2>
                <p><strong>Жанр:</strong> {{.Genre}}</p>
                <p>{{.Description}}</p>

                {{if eq $.RoleID 3}}
                <form action="/delete-movie" method="POST" class="delete-movie">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <button type="submit">Удалить</button>
                </form>
                {{end}}

            </div>
        </a>
        {{else}}
        <p>Фильмы не найдены.</p>
        {{end}}
    </div>

</body>
</html>
