<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{.Movie.Title}}</title>
    <link rel="stylesheet" href="/static/css/movieDetails.css">
</head>
<body>
    <header class="header-buttons">
        <form action="/main" method="GET">
            <button type="submit">Назад</button>
        </form>
    </header>

    <div class="movie-detail">
        <div class="movie-info-container">
            <img src="{{.Movie.PosterURL}}" alt="Постер">
            <div class="movie-text">
                <h1>{{.Movie.Title}} ({{.Movie.ReleaseYear}})</h1><br/>
                <p><strong>Год производства:</strong> {{.Movie.ReleaseYear}}</p>
                <p><strong>Режиссер:</strong> {{.Movie.Director}}</p>
                <p><strong>Жанр:</strong> {{.Movie.Genre}}</p><br/>
                <p><strong>Описание:</strong> {{.Movie.Description}}</p>
            </div>
        </div>

        <form action="/favorites/add/{{.Movie.ID}}" method="POST">
            <button type="submit">Добавить в любимое</button>
        </form><br/>

        {{if .Movie.TrailerURL}}
            <div class="trailer-wrapper">
                <iframe width="800" height="450" src="{{.Movie.TrailerURL}}" title="Трейлер" frameborder="0" allowfullscreen></iframe>
            </div>
        {{end}}<br><br>

        <hr/>

        <h2>Комментарии</h2>

        <form action="/comment/{{.Movie.ID}}" method="POST" class="comment-form">
            <div class="comment-input-group">
                <textarea name="content" rows="4" placeholder="Оставить отзыв" required></textarea>
                <button type="submit">Отправить</button>
            </div>
        </form>

    
    {{range .Comments}}
        <div class="comment">
            <strong>{{.Username}}</strong> - {{.CreatedAt.Format "02 Jan 2006 15:04"}}
            <p>{{.Content}}</p>
        </div>
    {{else}}
        <p>Комментарии отсутствуют</p>
    {{end}}
    </div>
</body>
</html>


