<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>

    <form action="/registration" method="POST">
        <div>
            <label>Логин:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Пароль:</label>
            <input type="password" name="password" required>
        </div>

        <div>
            <label>Повторите пароль:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>


</body>
</html>