<h1>Управление ролями</h1>

<form action="/main" method="GET">
  <button type="submit">Назад</button>
</form>
<table>
  <tr>
    <th>ID</th><th>Имя пользователя</th><th>Роль</th><th>Изменить</th>
  </tr>
  {{range .}}
  <tr>
    <td>{{.ID}}</td>
    <td>{{.Username}}</td>
    <td>{{.Role}}</td>
    <td>{{if .Active}}Активен{{else}}Заблокирован{{end}}</td>
    <td>
        <form method="POST" action="/admin/roles/change">
            <input type="hidden" name="user_id" value="{{.ID}}">
            <select name="role_id">
                <option value="1">Пользователь</option>
                <option value="2">Админ</option>
                <option value="3">Суперадмин</option>
            </select>
            <button type="submit">Изменить</button>
        </form>
    </td>
    <td>
      <form method="POST" action="/admin/users/toggle">
          <input type="hidden" name="user_id" value="{{.ID}}">
          <input type="hidden" name="active" value="{{.Active}}">
          {{if .Active}}
          <button type="submit">Заблокировать</button>
          {{else}}
          <button type="submit">Разблокировать</button>
          {{end}}
      </form>
  </td>
  </tr>
  {{end}}
</table>
